*,
*::before,
*::after {
    box-sizing: border-box;
}
/*YT vid 36:25*/
/*Custom properties that are passed in*/
:root {
    --ff-primary: 'Architects Daughter', cursive;
    --ff-secondary: 'Roboto', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #f8f0f0;
    --clr-dark: #363434;
    --clr-accent: #a227b8d2;
    --clr-light-text: #fcfafa;
    --clr-dark-text: #363434;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.50rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*Applied properties*/
body {
    background-color: var(--clr-light);
    font-family: var(--ff-primary); 
    margin: 0;
    font-size: var(--fs-body);
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

h1, h2 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}



/*General section formatting*/
section {
    padding: 5em 2em;
}

/*Styling the intro title*/
.section_title_intro {
    font-weight: var(--fw-reg);
    color: var(--clr-dark);
}
.section_title_intro strong {
    display: block;
}


/*styling the subtitles*/
.section__subtitle__intro,
.about-para {
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    background-color: var(--clr-accent);
}

.section__subtitle__intro {
    font-size: var(--fs-h3);
    color: var(--clr-dark);
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);

    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    font-family: var(--ff-secondary);
    color: var(--clr-light-text);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


/*Hamburger*/
.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 6px}
.hamburger::after {bottom: 6px;}


/*intro*/
.intro {
    position: relative;
}

.section__subtitle__intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em ;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

  
    .section__subtitle__intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/*About Me*/

.about-me {
    margin: 0 auto;
    background-color: var(--clr-dark);
    color: var(--clr-light-text);
}

.about-me__img {
    box-shadow: var(--bs);
}

.about--text {
    font-family: var(--ff-secondary);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Skills */
.my-skills {
    margin: 0 auto;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.section__subtitle-skills {
    font-family: var(--ff-secondary);
}

.skills--table {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    color: var(--clr-dark);
}

.skill-name {
    font-family: var(--ff-secondary);
}

/*Footer and Social List*/

.footer {
    color: var(--clr-dark);
    text-align: center;
    margin-top: 20px;
    font-size: var(--fs-h3);
    padding: 2.5em 0;
}

.footer__link:hover {
    opacity: .7;
    text-decoration: underline;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.social-list li:hover {
    opacity: .7;
    transform: scale(1.5);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/*Case Study Page*/

.section_title_intro_item {
    color: var(--clr-dark);
}

.section__subtitle__intro_item {
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    background-color: var(--clr-accent);
    font-size: var(--fs-h3);
}

.intro_item {
   padding: 3em 2em 0 2em; 
}


.individual-item {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.individual-intro {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h2);
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--clr-dark);
}

.lesson-img {
    float: right;
}

/*Third Portfolio Section*/
.port__grid {
    background:var(--clr-dark);
    padding-bottom: 10px;
    overflow: auto;
    color: var(--clr-light);
    text-align: center;
}


.card {
    width: 43%;
    float: left;
    margin-left: 50px;
    position: relative;
  }
  
  .card:hover .overlay {
    opacity: .9;
}

.overlay a:link {
    color: #ffffff;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: purple;
}


.overlay a:link {
    color: #ffffff;
}

.text {
    color: #ffffff;
    font-size: 15px;
    font-family: var(--ff-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 800px) {
    .text {
        font-size: 12px;
        color: #ffffff;
    }

    .port__grid {
       overflow: hidden;
    }

    .port__img__3 {
        max-width: 120%;
    }

    .overlay {
        width: 120%;    
    }
    .card {
        width: 70%;
        margin-bottom: 10px;
    }

    .port__img__3 {
        align-items: center;
    }
}

