*,
*::before,
*::after {
    box-sizing: border-box;
}
/*YT vid 36:25*/
:root {
    --ff-primary: 'Architects Daughter', cursive;
    
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #e5e5e5;
    --clr-dark: #3d3c3c;
    --clr-accent: #590a69ab;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.50rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background-color: var(--clr-light);
    font-family: var(--ff-primary); 
    margin: 0;
    font-size: ;
}